/*CSS Variables*/
:root{
      /* Column Colors*/
                  --column-hover:                     #f3d5a5;
                  --column-selected:                  #ada290;
      /* Price Colors*/
                  --price-background:                 #e6c693;
                  --price-font:                       #fff;
                  --price-bg-hover:                   #fff;
                  --price-font-hover:                 #e6c693;
                  --price-bg-selected:                #e6c693;
                  --price-font-selected:              #fff;
      /*Font and Cont Colors*/
                  --font:                             "Helvetica", Verdana, Arial, sans-serif;
                  --font-hover:                       #2e2e2e;
                  --font-selected:                    #fff;
                  --font-checked:                     #d6d6d6;
            }
/*Label*/
            .label {
                  cursor: pointer;
            }
/*Grid*/
            Grid Setting .product_column > * {
                  display: grid;
                  grid-template-rows: 300px 100px repeat(auto-fill, 100px) 200px 200px;
            /* Set the size of the top, middle, and bottom rows */
                  grid-template-areas: "image" "heading" "list" "footer" "radio";
            }
/*Normal Settings*/            
      /*Column Box Normal*/  
            .product_column {
                  background-color:transparent;
                  display: grid ;
                  grid-template-columns: repeat(4, 1fr);
                  grid-gap: 20px;
                  grid-column-gap: 15px;
                  grid-row-gap: 15px;
                  padding: 10px,10px,10px,10px;
                  transition: all 600ms ease-in-out;
                  transform: scale(1.00);
            }
      /*Product Div Normal*/          
            .div-box-product {
                  transition: all 600ms ease-in-out;
                  transform: scale(1.00);
                  background-color: transparent;
            }
      /*Image Thumbnail Normal*/
            .product_column img {
                  padding-top: 10px;
                  display: block;
                  margin-left: auto;
                  margin-right: auto;
                  max-width: 60%;
                  transition: all 600ms ease-in-out;
                  -webkit-transition: all 0.2s;
                  -moz-transition: all 0.2s;
                  filter: grayscale(100%);
                  -webkit-filter: grayscale(100%);
                  -moz-filter: grayscale(100%);
            }
      /*Title Heading Normal*/     
            h2, 
            .bootstrap-datetimepicker-widget h2, 
            .h2, 
            .bootstrap-datetimepicker-widget .h2 {
                  font-family: var(--font);
                  background: transparent;
                  font-size: 25px ;
                  font-weight: 200 ;
                  letter-spacing: 5px;
                  line-height: 44.3px;
                  margin-bottom: 10px;
                  margin-top: 40px;
                  padding: 0px;
                  text-align: center;
                  text-transform: uppercase;
                  vertical-align: baseline;
                  word-wrap: break-word;
            }
      /*Price Normal*/   
            .product_column .price {
                  font-family: var(--font);
                  background: var(--price-background);
                  color: var(--price-font);
                  box-sizing: border-box;
                  font-size: 30px ;
                  font-weight: 100 !important;
                  letter-spacing: 15px ;
                  line-height: 57px;
                  margin: 0px;
                  margin-bottom: 20px ;
                  margin-top: 5px ;
                  overflow-wrap: break-word;
                  padding: 0px;
                  text-align: center;
                  text-transform: uppercase;
                  vertical-align: baseline;
                  word-wrap: break-word;
            }
      /*List Normal*/   
            .div-box-product li {
                  font-size: 18px ;
                  font-weight: normal;
                  line-height: 20px ;
                  list-style: outside ;
                  padding: 5px ;
                  margin-left: 20px ;
                  margin-right: 10px ;
                  text-align: left;
                  vertical-align: baseline;
                  word-wrap: break-word;
            }
      /*Paragraph Normal*/   
            .div-box-product p {
                 /*background: transparent;
                 */
                  box-sizing: border-box;
                  font-size: 18px ;
                  font-weight: normal;
                  line-height: 20px ;
                  list-style: outside ;
                  padding: 5px ;
                  margin-left: 20px ;
                  margin-right: 10px ;
                  text-align: left;
                  vertical-align: baseline;
                  word-wrap: break-word;
            }
/*Hover Settings*/
      /*Div Hover*/      
            .div-box-product:hover {
                  transition: all 600ms ease-in-out;
                  transform: scale(1.08);
                  background-color: var(--column-hover);
            }
      /*Image Hover*/      
            .div-box-product:hover img {
                  transition: all 600ms ease-in-out;
                  filter: grayscale(0%);
                  -webkit-filter: grayscale(0%);
                  -moz-filter: grayscale(0%);
            }
      /*Price Hover*/
            .div-box-product:hover .price {
                  transition: all 600ms ease-in-out;
                  background: var(--price-bg-hover);
                  color: var(--price-font-hover);
            }
      /*Text Hover*/
            .div-box-product:hover h2, 
            .div-box-product:hover li, 
            .div-box-product:hover p {
                  transition: all 600ms ease-in-out;
                  color: var(--font-hover);
            }
/*Selected*/
      /* Div Selected*/
            .div-box-product.selected {
                  transition: all 600ms ease-in-out;
                  transform: scale(1.03);
                  background-color: var(--column-selected);
            }
      /*Image Selected*/       
            .div-box-product.selected img {
                  transition: all 600ms ease-in-out;
                  filter: grayscale(0%);
                  -webkit-filter: grayscale(0%);
                  -moz-filter: grayscale(0%);
            }
      /*Price Selected*/
            .div-box-product.selected .price {
                  transition: all 600ms ease-in-out;
                  background: var(--price-bg-selected);
                  color: var(--price-font-selected);
            }
      /*Text Selected*/       
            .div-box-product.selected h2, 
            .div-box-product.selected li, 
            .div-box-product.selected p {
                  transition: all 800ms ease-in-out;
                  color: var(--font-selected);
            }

/*Greyed Out Unselected Settings*/
     /*Image Settings Grey Product*/
            .div-box-product.grey-product img {
                  transition: all 600ms ease-in-out;
                  opacity: 0.5;
            }
      /*Price Settings Grey Product*/
            .div-box-product.grey-product .price {
                transition: all 600ms ease-in-out;
                color: var(--font-checked);
                background-color: #00000005;
           }
      /*Text Settings Grey Product*/
            .div-box-product.grey-product h2, 
            .div-box-product.grey-product li, 
            .div-box-product.grey-product p {
                  transition: all 600ms ease-in-out;
                  color: var(--font-checked);
            }

/*Greyed Out Hover Settings*/           
      /*Image Thumbnail Greyed Out Settings*/
           .div-box-product.grey-product:hover img {
            transition: all 600ms ease-in-out;
            opacity: 100%;
            }
     /*Price Settings Grey Product*/
            .div-box-product.grey-product:hover .price {
                  transition: all 600ms ease-in-out;
                  color: var(--price-font-hover);
                  background: var(--price-font-selected);
            }
      /*Text Settings Grey Product*/       
            .div-box-product.grey-product:hover h2, 
            .div-box-product.grey-product:hover li, 
            .div-box-product.grey-product:hover p {
                  transition: all 800ms ease-in-out;
                  color: var(--font-hover);
            }
/*Radio Button*/

            input[type="radio"] {
                  display: none;
            }
/*Responsiveness @Media Settings*/
            @media (max-width: 1024px) {
            .product_column {
                  grid-template-columns: repeat(2, 1fr);
            }
            }
            @media (max-width: 768px) {
            .product_column {
                  grid-template-columns: repeat(2, 1fr);
            }
            }
            @media (max-width: 576px) {
            .product_column {
                  grid-template-columns: 1fr;
            }
            }