

.product_column > img {
  grid-area: image; /* Assign the image element to the image grid area */
grid-row: 1;
}

.product_column > h2 {
  grid-area: heading; /* Assign the h2 element to the heading grid area */
grid-row: 2;
}

.product_column > li {
  grid-area: list; /* Assign the ul element to the list grid area */
grid-row: 3;
}

.product_column > h2:last-of-type {
  grid-area: footer; /* Assign the second h2 element to the footer grid area */
  grid-row: 4; /* Make the element occupy the entire middle row */
  background-color: #2ED3B7 ; /* Set the background color for the middle row */
  vertical-align: text-bottom ;
}

.product_column > radio {
  grid-area: radio; /* Assign the button element to the footer grid area */
grid-row: 5;
}

.product-radio {
  visibility: hidden;
}
input[type="radio"] {
  vertical-align: text-bottom;
  visibility: hidden;
}








